{{> nav}}

<!-- House detail section -->
<div class="container">
	<div class="row">
		<div class="col">
			<!-- Main house image -->
			<img
				class="img-fluid"
				src="{{house.photos.[0]}}"
				alt=""
			/>
		</div>
		<div class="col">
			<!-- Smaller house images -->
			{{> gallery photosArray=house.photos}}
		</div>
	</div>
</div>
<div class="container">
	<!-- House description -->
	<div class="row">
		<div class="col-8">
			<h1>{{house.title}}</h1>
			<p class="fs-6 text">{{house.location}} • {{house.rooms}} Rooms</p>
			<div class="row">
				<div class="col-1">
					<img
						src="{{house.host.avatar}}"
						class="img-fluid rounded-circle text-center"
						alt=""
						width="75px"
					/>
				</div>
				<div class="col text-start">
					<p class="fs-6 text">Hosted by</p>
					<span>{{house.host.name}}</span>
				</div>
			</div>
			<p>
{{house.description}}			</p>
		</div>
		<div class="col">
			<!-- Send host a message section -->
			<div class="border border-start-5 shadow-lg m-4 p-4">
				<h3>${{house.price}}/night</h3>
				<p>0 Reviews</p>
				<form>
					<div class="mb-3">
						<textarea
							class="form-control"
							placeholder="Send the host a message..."
							rows="6"
						></textarea>
					</div>

					<button type="submit" class="btn btn-primary btn-success">
						Request Booking
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<!-- Send reviews -->
	<div class="row">
		<div class="col-8">
			<div>
				<h2>0 Reviews</h2>
				<form>
					<div class="mb-3">
						<label for="exampleFormControlTextarea1" class="form-label"
							>Leave a Review</label
						>
						<textarea class="form-control" rows="6"></textarea>
					</div>

					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="radio"
							name="flexRadioDefault"
						/>
						<label class="form-check-label" for="flexRadioDefault1">
							Positive Feedback
						</label>
					</div>
					<div class="form-check form-check-inline">
						<input
							class="form-check-input"
							type="radio"
							name="flexRadioDefault"
							checked
						/>
						<label class="form-check-label" for="flexRadioDefault2">
							Negative Feedback
						</label>
					</div>

					<div>
						<button type="submit" class="btn btn-primary btn-success">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
